# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
.flovopy-env/
.flovopy/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# Logs and local
.DS_Store
logs/
*.log
*.png
*.pkl
*.sqlite
gmt.history
RSAMplots.zip
*.rover
.DS_Store
test.out
failed/
obsolete/
flovopy/dem/flip_geotiff.py
flovopy/dem/merged_pts_hyp_trimmed.csv
flovopy/dem/stations_from_stationxml.csv
flovopy/dem/stations_with_channels_from_MV.xml.csv
flovopy/dem/stations_with_channels_MontserratDigitalSeismicNetwork.xml.csv
flovopy/dem/station0.hyp.csv
flovopy/dem/flip_geotiff.py
.gitignore.swp
